.eventsSection {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
    /* background-color: white; */
    background-color: rgba(0, 255, 255, 0.329);
    border-radius: 10px;
    padding: 20px;
}


input {
    margin: 10px 0;
    text-align: center;
    padding: 15px 10px;
    font-size: 1.2rem;
}

input:focus {
    outline: none;
}




.yellowBtn {
    background-color: orange;
    border: none;
    padding: 10px;
    min-width: 100px;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
    color: black;
    text-align: center;
}


.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.events {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1470px;
    margin: auto;
}

.maybe{
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
}




@media (max-width:450px) {

    .top {
        
        width: 80vw;
        
    }

}

@media (max-width:390px){
    .card-custom{
        width: 300px;
    }
}