*{
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'brekshire-swash';
  src: url('./static/fonts/berkshire-swash/BerkshireSwash-Regular.ttf');
}

.background {
  height: 100vh;
  /* background-color: black; */
  position: fixed;
  z-index: -1;
}

.background::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: url('./static/images/background.jpg') no-repeat center center;
  background-size: cover;
  background-position: center;
  filter: brightness(0.2) contrast(0.9);
}

.heading{
  font-family: brekshire-swash;
  font-size: 6rem;
  
}

#root{
  color: white;
}

@media (max-width: 490px){
  .heading{
      font-size: 4rem;
  }
  p{
      letter-spacing: 0.4rem;
  }
}
@media (max-width: 305px){
  .heading{
      font-size: 3rem;
  }
  p{
      letter-spacing: 0.3rem;
  }
  
}